@import "styles/variables.scss";
.wrapper {
  height: 100%;
  padding: 2em 0;
}

.addBtn {
  margin: 2em 0 0 2em;
}

.authorContainer {
  display: flex;
  justify-content: space-between;
}

.delete {
  font-weight: 500;
  color: $invalid;
  &:hover {
    cursor: pointer;
  }
}

.author {
  font-weight: 500;
  color: $fontLightGreen;
}

.containerUser {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  div {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
  }
  .title {
    color: $fontLightGreen;
  }
  .content {
    font-weight: 500;
  }
}
