@import "styles/variables.scss";

.container {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-rows: 5fr auto;
}
.mainPanel {
  display: grid;
  grid-template-columns: 1.1fr 5fr;
}
.leftSidePanel {
  width: 100%;
}

.rightSidePanel {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
  width: 100%;
}
.teamName {
    font-size: 2rem;
    font-weight: 400;
    color: $fontWhite;
}

.headerPanel {
    padding: 0 2em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.settingsImg {
    height:3em;
    cursor: pointer;
}

.buttonsPanel {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  min-height: 8em;
}
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 35%;
  & > div {
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px green solid;
    width: 10em;
    height: 2.5em;
    border-radius: 5px;
  }
  .raportButton {
    border: 2px $buttonBackground solid;
    color: $buttonBackground;
  }

  .leaveButton {
    border: 2px $invalid solid;
    color: $invalid;
  }
}

@media only screen and (max-width: 950px) {
  .buttonsPanel {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  .buttonsContainer {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .buttonsPanel {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  .buttonsContainer {
    width: 100%;
  }
}
