@import "styles/variables.scss";

.sidebar {
    font-size: 1.2em;
    padding: 1em 0;
    margin-top: 1em;
    border: 2px solid $fontWhite;
    border-left: none;
    height: 70vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $fontWhite;

    h3 {
        border-bottom: 1px solid $fontWhite;
        width: calc(100% - 4rem);
        text-align: center;
        padding-bottom: 5px;
    }
}

.break {
    padding: 0.4em 0 0.5em 0;
}
.menu {
    padding: 0 2rem; 
    width: 100%;
    box-sizing: border-box;
    & > li {
        text-align: center;
        margin: 0;
        padding: 0.5em;
        border-top: 1px solid $fontWhite;
        list-style: none;
        cursor: pointer;
    }
    & > :last-child {
        border-bottom: 1px solid $fontWhite;
    }
}