@import "styles/variables.scss";

.wrapper {
  background: $backgroundLanding;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.innerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnWrapper {
  position: absolute;
  top: 1em;
  left: 1em;
}
