@import "styles/variables.scss";


.flex {
    display: flex;
    flex-direction: column;
}

.formBox {
    width: 500px;
    height: 400px;
    background-color: gray;
    overflow: scroll;
}

.inpucik {
    height: 50px;
}