@import "styles/variables.scss";

.container {
  box-sizing: border-box;
}

.inputContainer {
  box-sizing: border-box;
  font-family: $Roboto;
  max-width: 380px;
  min-width: 260px;
  width: 80%;
  margin: 0 auto;
  padding: 0.6em 1em;
  filter: $inputFilter;
  background: $backgroundLight;
  display: flex;
  flex-flow: column;
  color: $fontLightGreen;
  border-radius: 4px;
  transition: border 0.2s ease;
  &:focus-within {
    border-left: 4px solid $fontLightGreen;
    border-right: 4px solid $fontLightGreen;
  }
  &:hover {
    cursor: pointer;
  }
}

.input {
  border: none;
  border-bottom: 1.5px solid $fontLightGreen;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 0.2em 10px;
  background: transparent;
  color: $fontWhite;
  transition: all 0.4s ease-in;
  &::placeholder {
    color: $fontPlaceholder;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.textarea {
  resize: none;
  font-family: $Roboto;
  font-size: 1em;
  height: 8em;
  @include scrollbar;
}

.select {
  background: $backgroundLight;
  margin: 0.2em 7px;
  outline: none;
  border: none;
  color: $fontWhite;
  transition: all 0.4s ease-in;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    background: $inputActiveBackground;
  }
  background-image: none;
}

.invalidInput {
  border: 1.5px solid $invalid;
}

.label {
  color: $fontLightGreen;
  font-size: 1.1em;
  padding: 0 0.8em;
  font-weight: 500;
}

.error {
  color: $invalid;
  font-size: 0.8em;
  font-weight: 500;
}
