@import "./variables.scss";
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $Roboto;
  background: $backgroundLanding;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

//______________________________ Form styles _______________________________

.form-text input,
textarea,
select {
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  margin-top: 1em;
  font-size: 1.2em;
  border-radius: 2%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.form-label {
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $fontWhite;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.primary {
  background: $buttonBackground;
  border: none;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
  }
}

// ___________________ Navbar _______________________

.navbar {
  background: linear-gradient(
    0deg,
    $backgroundLanding 0%,
    $backgroundLanding 100%
  );
  font-size: 1.3em;
}

// ___________________ Jumbotron _______________________

.jumbotron {
  background-color: #49657d;
  color: $fontWhite;
}

// ___________________ Modal _______________________

.modal-content {
  background-color: #49657d;
}

.close {
  color: $fontWhite;
}

.close:hover {
  color: $fontWhite;
}
