@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$Montserrat: "Montserrat", sans-serif;
$Roboto: "Roboto", sans-serif;

$fontLightGreen: #acf7d0;
$fontWhite: #f3f9f6;
$fontPlaceholder: #f3f9f6aa;
$fontSmoke: whitesmoke;
$fontBlue: #64afff;
$fontGrey: #cdc6c6;

$invalid: #f56e69;

$backgroundLanding: #070e30;
$backgroundCircle: radial-gradient(circle, #49a3d1 0%, rgba(255, 0, 0, 0) 70%);
$backgroundLight: linear-gradient(45deg, #36b3c8 0%, #0679a2 99.9%);

$backgroundDropdown: linear-gradient(
  70deg,
  rgba(75, 120, 139, 1) 0%,
  rgba(100, 128, 156, 1) 100%
);
$backgroundDropdownHover: rgba(0, 0, 0, 0.2);

$buttonBackground: #02addb;
$buttonBackgroundHover: #02addbaa;

$backgroundModal: linear-gradient(
  70deg,
  rgba(75, 120, 139, 1) 0%,
  rgba(100, 128, 156, 1) 100%
);
$borderModal: rgb(105, 142, 177);

$backgroundJumbotron: linear-gradient(
  70deg,
  rgba(75, 120, 139, 0.8) 0%,
  rgba(100, 128, 156, 0.8) 100%
);

$backgroundCard: #5f7e99;
$borderCard: rgba(233, 229, 229, 0.53);

$inputActiveBackground: #576075;
$inputFilter: drop-shadow(4px 4px 14px rgba(0, 0, 0, 0.2));
$placeholderColor: #f3f9f6aa;

@mixin scrollbar(
  $scrollSize: 4px,
  $backgroundTrack: #333845,
  $backgroundThumb: #83868e,
  $scrollRadius: 0px
) {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: $scrollSize;
  }
  &::-webkit-scrollbar-track {
    background: $backgroundTrack;
  }
  &::-webkit-scrollbar-thumb {
    background: $backgroundThumb;
    border-radius: $scrollRadius;
  }
}
